<div class="content">
    <h1 class="title">Cultural Profile Matcher</h1>
    <div class = "home-box big-card">
        <div style="margin-right: 25px;">
            <h2>What is it?</h2>
            <p >
                A good potential worker is not only the one who has the best skills, 
                it is also necessary that he/she has cultural values compatible with 
                the business and the specific job. This is what Cultural Profile Matcher
                 wants to show to users and companies. This application allows to calculate 
                 a  cultural compatibility factor between an applicant and a job, improving 
                 business' recruiting process. 
            </p>
        </div>
        <img [src]="comparisonExampleImage" width="37%" height="37%" alt="Comparison graphic example">
    </div>
    <div>
        <h2 class="center" style="margin-bottom: 25px;"> How to use it?</h2>
        <div class="home-box">
            <div class="step-card"> 
                <div class="center">1</div>
                <div class="text-container">
                    <p  class="main-text">Select the five professional dynamics that you consider more important.
                        
                    </p>
                    <p  class="secondary-text">Take into account the company's cultural values and the requirements 
                        for the job. We use this to calculate the cultural profile of your job.
                    </p>
                </div>
            </div>
            <div class="step-card"> 
                <div class="center"> 2</div>
                <div class="text-container">
                    <p class="main-text">
                        Visualize the generated cultural profile.
                    </p>
                    <p class="secondary-text">
                        We will use later the polygon that you can see in this chart.
                    </p>
                </div>
            </div>
            <div class="step-card">
                <div class="center">3</div>
                <div class="text-container">
                    <p  class="main-text">
                        Search the user you want to evaluate.
                    </p>
                    <p class="secondary-text">
                        We use the information from the professional culture test of the user's genome in order to calculate his/her cultural profile.
                    </p>
                </div>
            </div>
            <div class="step-card">
                <div class="center">4</div>
                <div class="text-container">
                    <p  class="main-text">Get your compatibility score!</p>
                    <p class="secondary-text"> You can also visualize the cultural profile computed for the selected user and the job.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="home-box big-card">
        <img [src]="montecarloImage" alt="Montecarlo graphic example">
        <div style="margin-left: 25px;">
            <h2>How do we do it?</h2>
            <p>
                After we obtain the user and job cultural profiles, we consider the polygons generated by 
                their radar plots. Then, we use Montecarlo 
                methods to calculate the union and  intersection areas of these polygons.
                Finally, we calculate the union and intersection areas ratio  
                to provide you the compatibility factor.

        </div>
        
    </div>

        <button class="main-btn" [routerLink]="['/professional-dynamics-selection']"> Start</button>

</div>
