
<div>
    <div id="apex-cultural-profile"></div>
    <div class ="center">
        <span>The intersection ratio is {{unionIntersectionRatio | number: '1.0-0'}}%</span>
    </div>
    <div class="center">
        <button class="primary-btn" style="margin-right: 15px; width: 215px;" [routerLink]="['/user-search']"> Search another user</button>
        <button class="primary-btn" style="width: 215px;" [routerLink]="['/professional-dynamics-selection']"> Create another profile</button>
    </div>
</div>