.list {
    background: white;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
  }

  
.list-wrapper {
    margin: 50px auto;
    max-width: 800px;
    a {
       cursor: pointer
    }
  }
  
.list-item {
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:last-child{
      border-bottom: none;
    }
    &-image {
      border-radius: 50%;
      width: 64px;
    }
    &-content{
      margin-left: 20px;
      h4, p{
        margin: 0;
      }
      h4{
        margin-top: 10px;
        font-size: 18px;
      }
      p{
        margin-top: 5px;
        color:gray;
      }
    }
  }