<div class="content">
    <div class="center search-bar">
        <input class="search-input" placeholder="Search by name" [(ngModel)]="inputName" (keyup.enter)="search()">
        <button style="float: right;" class="search-button" (click)="search()">
            <i-feather name="search"></i-feather>
        </button>
    </div>
    <div class="list-wrapper">
        <ul class="list">
            <li *ngFor="let user of userList" class="list-item" (click)="selectUser(user)">
                <div class="image-container">
                    <img [src]="user.picture ? user.picture : torreLogo" class="list-item-image" alt="user photo">
                </div>
                <div class="list-item-content">
                    <h4>{{user.name}}</h4>
                    <p>{{user.professionalHeadline}}</p>
                    <p>{{user.locationName}}</p>
                </div>
            </li>
        </ul>
        <div  class ="center paginator" *ngIf="userList.length > 0">
            <a (click)="previous()" *ngIf="currentPage > 1">Previous</a>
            <span class="search-current-page-card">{{currentPage}}</span>
            <a (click)="next()" *ngIf="currentPage < lastPage">Next</a>
        </div>
    </div>
</div>