.order-bar {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -40px auto 20px auto;
    min-height: 46px;
}

.order-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid rgba(63,135,245,0.15);
    padding: 2px;
    min-height: 46px;
}
