<div class="content">
    <h1 class="center title">Select five professional dynamics</h1>
    <div class="tag-container" style="justify-content: center;">
    
        <div *ngFor="let item of professionalDynamicsList" 
        class="tag"
        [ngClass]="selectedDynamics.indexOf(item)<0 ? '' : 'selected-item' ">
            <a (click)="select(item)">{{item.name}}</a>
        </div>
    </div>
    
    <div class="tag-container">
        <div *ngFor="let item of selectedDynamics" class="tag">
            {{item.name}}
        </div>
    </div>

    <button  class="primary-btn" [routerLink]="['/']" > Back</button>
    <div class="button-container">
        <button  class="primary-btn" (click)="generateCulturalProfile()"> Generate cultural profile</button>
        <p *ngIf="showAlert" class="alert-message">You have to select 5 elements</p>
    </div>

</div>
